numpy==1.18.5
pathlib2==2.3.5
pathos==0.2.5
gym>=0.21.0
torch>=1.0.0
pickle5>=0.0.12
setuptools>=46.0.0
pybullet>=3.1.7
h5py>=2.10.0
yaml>=0.1.7
pyyaml>=5.3
typing>=3.7.4.1
networkx>=2.4
ray>=1.0.1
igl>=0.3.1
matplotlib>=3.5.2
pandas>=1.0.1
seaborn>=0.11.2
tqdm>=4.42.1